<div class="box">
    <ul class="users">
        <li class="email-item row unread" *ngFor="let user of users | filterSearch: search">
            <div class="check  col-sm-1">
                <input type="checkbox" class="user-select">
            </div>
            <div class="col-sm-1">
                <avatar [img] = "user.avatarUrl"></avatar>
            </div>
            <div class="col-sm-1">{{user.fullName}}</div>
            <div  class="col-sm-2">
                <input routerLink="/editUser" 
                       type="submit" 
                       value="edit" 
                       class="btn btn-primary">
            </div>
            <div class="col-sm-2">{{user.email}}</div>
            <div class="col-sm-2">{{user.birthdate}}</div> 
            <div class="col-sm-1">{{user.gender}}</div>
            <div class="col-sm-2">{{user.address}}</div>
        </li>
    </ul>
</div>